* {
    box-sizing: border-box;
}

body {
    background-image: radial-gradient(hsla(0, 100%, 50%, 0), hsla(247, 100%, 50%, 0.56));
}

.jumbotron {
    color: white;
    background-image: url(img/orange-3134148.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

p {
    color: black;
}

/*Card Image*/

.card-img-top {
    margin-bottom: 5%;
    box-shadow: 0 0 100px 10px;
    animation-name: seesaw;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

/*Animation for card img*/

@keyframes seesaw {
    0% {
        transform: rotate(0deg)
    }
    25% {
        transform: rotate(25deg)
    }
    50% {
        transform: rotate(0deg)
    }
    75% {
        transform: rotate(25deg)
    }
    100% {
        transform: rotate(0deg)
    }
}

/*Animation for Skills Section*/

.fa-html5 {
    color: rgba(255, 0, 0, 0.71);
    animation-name: htmlcon;
    animation-duration: 0.8s;
    animation-delay: -60s;
    animation-iteration-count: infinite;
}

.fa-css3-alt {
    color: rgba(16, 16, 208, 0.71);
    animation-name: csscon;
    animation-duration: 0.9s;
    animation-delay: -60s;
    animation-iteration-count: infinite;
}

.fa-js-square {
    color: rgba(211, 211, 0, 0.71);
    animation-name: jscon;
    animation-duration: 1s;
    animation-delay: -60s;
    animation-iteration-count: infinite;
}

/*Animation*/

@keyframes htmlcon {
    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }
    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }
    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }
    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}

@keyframes csscon {
    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }
    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }
    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }
    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}

@keyframes jscon {
    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }
    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }
    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }
    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}

.fa-github {
    color: white;
}

.fa-linkedin {
    color: white;
}

.fa-instagram {
    color: white;
}

/*Progress slider animation*/

.progress {
    opacity: 0.5;
    animation-name: slider;
    animation-duration: 6s;
    animation-delay: -5s;
    animation-iteration-count: infinite;
}

/*Animation*/

@keyframes slider {
    0% {
        left: 0px;
        top: 0px;
    }
    25% {
        left: 200px;
        top: 0px;
    }
    50% {
        background-color: hsla(240, 100%, 70%, 0.71);
        left: 200px;
        top: 200px;
    }
    75% {
        background-color: hsla(240, 100%, 70%, 0.71);
        left: 0px;
        top: 200px;
    }
    100% {
        left: 0px;
        top: 0px;
    }
}

/* Media Queries */

/* Extra small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap
Small devices (landscape phones, 576px and up) */

@media (max-width: 320px) {
    .jumbotron {
        margin: 2rem;
    }
    .card-img-top {
        display: none;
    }
}

@media (min-width: 360px) {
    .jumbotron {
        margin: 2rem;
    }
    .card-img-top {
        visibility: hidden;
    }
}

@media (min-width: 375px) {
    .card-img-top {
        visibility: visible;
        margin-left: 10%;
        padding: 20px;
    }
}

@media (min-width: 411px) {
    .card-img-top {
        margin-left: 14%;
    }
}

@media (min-width: 600px) {
    .jumbotron {
        margin: 2rem;
    }
    .card-img-top {
        visibility: visible;
        margin-left: 28%;
    }
}

/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
    .jumbotron {
        color: black;
        background-size: cover;
        margin: 2rem;
    }
    .card-img-top {
        margin-left: 34%;
    }
}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
    .card-img-top {
        margin-left: 39%;
    }
}

/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
    .jumbotron {
        color: black;
        background-size: 46rem;
        background-repeat: no-repeat;
        margin: 20px;
    }
    .card-img-top {
        margin-left: 40%;
    }
}